.keenSlider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 21px;
  will-change: transform;
}

.slide {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 310px;
  min-height: 315px;
  transition: transform 0.35s ease, box-shadow 0.35s ease, opacity 0.35s ease;
}
.slide:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  opacity: 0.95;
}
.cardImg {
  width: 179px;
  height: 157px;
  object-fit: cover;
  object-position: 90% 10%;
}
.cardHeader {
  display: flex;
  align-items: center;
  gap: 34px;
  border-radius: 45px;
  padding: 12px 13px;
  max-width: 310px;
  height: 57px;
  backdrop-filter: blur(4px);
  background: #f4f6f7;
  margin-bottom: 15px;
}

.cardIndex {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #fbfbfc;
  border-radius: 100%;
  background-color: #2d322f;
}

.cardTitle {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #303030;
}
.cardTexts {
  border-radius: 31px;
  padding: 22px;
  width: 310px;
  max-height: 141px;
  backdrop-filter: blur(4px);
  background: #f4f6f7;
}
.cardDescription {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #2d322f;
  margin-bottom: 11px;
}

.cardText {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #787878;
}

.indicators {
  display: flex;
  justify-content: left;
  gap: 5.6px;
  padding-left: 31px;
}

.dot {
  height: 4px;
  width: 28px;
  cursor: pointer;
  border-radius: 148px;
  background-color: #979797;
  transition: background 0.3s ease, transform 0.3s ease;
}

.dotActive {
  background-color: #5d625f;
  transform: scaleY(1.2);
}

/* ============= TABLET ============= */
@media (min-width: 768px) {
  .keenSlider {
    margin-bottom: 27px;
  }
  .slide {
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 53px;
    justify-content: flex-end;
  }
  .cardImg {
    width: 245px;
    height: 189px;
    object-fit: cover;
    object-position: 10% 90%;
  }
  .cardTexts {
    width: 388px;
  }
  .cardHeader {
    max-width: 388px;
    gap: 72px;
  }
}

/* ============= DESKTOP ============= */
@media (min-width: 1278px) {
  .slide {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .cardImg {
    width: 179px;
    height: 157px;
    object-fit: cover;
    object-position: 90% 10%;
  }
  .keenSlider {
    margin-bottom: 27px;
  }
  .cardTexts {
    width: 310px;
  }
  .cardHeader {
    max-width: 310px;
    gap: 34px;
  }
}

@media (min-width: 1920px) {
}
